html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    box-sizing: border-box;
}
.dark-brown {
    color: #270D01;
}
.light-coral-orange {
    color: #FCAD78;
}
.peach-cream {
    color: #FEE2D4;
}
.teal-green {
    color: #0BA98C;
}
.pale-cyan {
    color: #CCE9EB;
}
.hot-pink {
    color: #F62CD1;
}
.lavender-mist {
    color: #E5D8FD;
}

.bdark-brown {
    background-color: #270D01;
}
.bdeep-teal {
    background-color: #00131A;
}

h1, h2, p {
    /* padding: 0; */
    margin: 0.4rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}

.nav {
    /* use fixed, so as navbar followed when scroll */
    position: fixed; 
    top: 41%;
    left: 0%;
    background-color: #FFFFFF05;
    width: 5rem;
    border-radius: 10rem;
    margin-left: 0.5rem;
    text-align: center;
}
.nav ul {
    list-style-type: none;
    padding: 0;
}
.icon-container { 
    /* use inline for still one line, use block for setting width and height */
    display: inline-block;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    stroke-width: 0.08rem;
    stroke: #0BA98C;
    fill: none;
    /* setting end of the line (SVG only) */
    stroke-linecap: round;
    /* setting shape of the angle on the curved line (SVG only) */
    stroke-linejoin: round; 
} 
.row-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}
.home {
    padding-left: 15%;
}
.home div {
    width: 45%;
    padding-top: 15%;
}
.home img {
    padding-top: 5%;
    width: 45rem; 
    
}

.about {
    padding-top: 9%;
    padding-bottom: 10%;
    padding-left: 8%;
}
.about img {
    padding-right: 25%;
}
.about article h1 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 31%;
    padding-right: 15%;
}
.about article p {
    padding-right: 15%;
    text-align: justify;
}

.education {
    padding-left: 8%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}
.education > div {
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF05;
    border-radius: 1%;
}
.education div h2 {
    padding-top: 1%;
    text-align: center;
}
.education div article {
    display: flex;
    flex-direction: row;
    margin: 3%;
    padding: 0 2%;
    background-color: #56C7E825;
    border-radius: 1rem;
    
}
.education div article img {
    width: 12.5rem;
    height: auto;
    object-fit: contain;
}
.education div article div {
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


